/* ALGUNOS ESTILOS BASE 
que quiero por defecto en (casi) todo el documento */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #191A21;
    font-family: 'Montserrat', sans-serif;
    color:#C8D07A;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fira Sans', sans-serif;
}


.main-container{
    width: 75%;
    margin: 0 auto;
    border: 1px solid #BD93F9;
    background-color:#282A36;
    overflow: hidden;
    margin-bottom: .5em;
}

.header{
    display: flex;
    margin-top: 1em;
}
.header-img-container img{
    display: block;
    box-shadow:3px 0px 5px #191A21;
    border-radius: 0 5% 5% 0;
}
.header-text-container{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.nombre{
    font-size: 3.5em;
    margin-top: .5em;
    margin-bottom: 0;
    
}
.puesto{
    margin: 0;
    text-align: end;
}

.info{
    list-style-type: none;
    font-weight: 600;
}
.info span{
    display:inline-block;
    padding: .3em;
    background-color: #191A21;
    margin-right: 1em;
}

.main-nav{
    position: sticky;
    top:1px;
    display: flex;
    justify-content: space-around;
    box-shadow:0px 8px 5px #191A21;
}
.sections{
    width: 70%;
}
.menu{
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
}

.menu-link{
    text-decoration: none;
    display:inline-table;
    padding: 1em;
    text-shadow: 0px 0px 0px;
    color: #4EF378;
    transition: color 2.5s ;
    transition: text-shadow 0.5s;
}
.menu-link:hover{
    color:#C8D07A;
    text-shadow: 0px 0px 19px #42422260;
}
.socials{
    width: 20%;
}
.socials .menu{
    justify-content: space-around;
}
.section{
    display:flex;
}
.section__header{
    flex-wrap:wrap;
    text-transform: uppercase;
    background-color: #191A21;
    overflow-wrap: break-word;
    font-size: 3em;
    width: 20%;
    box-shadow: 0px 0px 10px #191A21;
}
.section__title{
    padding: 0.5rem 0.5em;
    margin: 0;
    text-align: right;
    /* text-shadow: 3px 3px 0px hsl(233, 14%, 1%); */
}
.section:nth-child(odd){
    flex-direction: row-reverse;
}
.section__paragraph{
    width: 70%;
    margin: auto;
}
.dt{
    margin: 1em 0em 0em 0em;
    display: inline-table;
    padding: .3em;
    background-color: #191A21;
}
dd{
    margin-bottom: 1em;
}
dl :last-child{
    margin-bottom:3em;
}

.hr{
    margin-top: 0;
    color: #191A21;
    margin-bottom: 1em;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin: 1em auto 2.5em auto;
}
.grid-item{
    text-align: center;
    border-radius: 5px;
    box-shadow:3px 3px 10px #191A21;
    padding: 1em 0.5em;
}
.grid-item__description{
    padding: 1em 05em;
}

.grid-item img{
    width: 50%;
}

.grid-item:hover{
    background-color: hsl(233, 14%, 21%);
    cursor: pointer;

    /* LA PROP. "CURSOR:POINTER;" ES SOLO PARA VISUALIZACION, DA LA IDEA DE CLICKEABLE. SERIA UN LINK A LA PAGINA DEL PROYECTO */
}

.skill-container{
    width: 70%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
   
}
.skill{ 
    margin-left: 10px;
    /* box-shadow:0 0 10px #BD93F9; */
    margin: 0 auto;
    width: 45%;
}

.skill-bar span{
    display: inline-block;
    background-color: #191A21;
    width: 10%;
    height: 10px;
    margin-top: 0.2em;
    margin-bottom: 1em;
}


/* NIVELES DE SKILLS */
.level-1 span:nth-last-child(n+10){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}
.level-2 span:nth-last-child(n+9){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}
.level-3 span:nth-last-child(n+8){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-4 span:nth-last-child(n+7){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-5 span:nth-last-child(n+6){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-6 span:nth-last-child(n+5){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-7 span:nth-last-child(n+4){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-8 span:nth-last-child(n+3){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-9 span:nth-last-child(n+2){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}.level-10 span:nth-last-child(n+1){
    background-color: #BD93F9;
    box-shadow: 2px 2px  10px #BD93F9;
}